<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
//string adminmi = "";
//string adsoyad = "";
//try
//{
//    adminmi = Session["AdminMi"].ToString();
//    adsoyad = Session["AdSoyad"].ToString();
//}
//catch
//{

//    adminmi = "";
//    adsoyad = "";
//}
        
    }
</head>
<body style="background-image: ~/Content/Resimler/arkaplan.jpg">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Eğitim Portalı", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>
                        @Html.ActionLink("Ana Sayfa", "Index", "Home", new { area = "" }, new { @class = "nav-link" })

                    </li>

                    <li>
                        @Html.ActionLink("Eğitimler", "Ekle", "Egitim", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Eğitmen Ata", "Ekle", "EgitimEgitmen", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Eğitim Talepleri", "Ekle", "EgitimTalepleri", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Kisiler", "Ekle", "Kisi", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Çıkıs", "Logout", "Guvenlik", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li>
                        Hoşgeldiniz @*@adsoyad*@
                    </li>
                </ul>
               
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
